if theme.aplayer.enable
	.aplayer(data-id=theme.aplayer.id data-server="aplayer.server" data-type="theme.aplayer.type" data-fixed="theme.aplayer.fixed" data-order="theme.vendors.aplayer.order" data-preload="theme.vendors.aplayer.preload")